.boxBooking {
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
  width: 450px;
  height: auto;
  border-radius: 2px;

  * {
    font-family: "Montserrat", sans-serif !important;
  }

  &__padding {
    padding: 0px 30px;
  }

  .dayContents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 14px;
    font-weight: bold;
    //   font-family: "Montserrat", sans-serif !important;

    &__price {
      font-size: 9px;
      font-weight: 700;
    }
  }

  .datePickerBooking {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-top: 20px;

    &__monthText {
      // font-family: "Montserrat", sans-serif !important;
      font-size: 19px;
      font-weight: 800;
    }
  }

  .priceDetail {
    border-bottom: 1px solid #ddd;

    &__priceDay {
      font-size: 1rem;
      font-weight: 600;
      padding: 10px 0px;
    }

    &__priceHour {
      font-size: 1rem;
      font-weight: 600;
      padding: 10px 0px;
      border-left: 1px solid #ddd;
    }
  }

  .totalPrice {
    margin-top: 20px;
    padding: 0px 5px;

    p {
      font-size: 0.9rem;
    }

    &__original {
    }

    &__service {
      padding-top: 5px;
    }

    &__total {
      margin-top: 15px;
      padding: 8px 0px;
      border-top: 1px solid #ddd;

      p {
        font-size: 1.3rem;
      }
    }

    &__left {
      text-align: left;
    }

    &__right {
      text-align: center;
    }

    &__tooltip {
      font-size: 20px;
    }
  }

  &__buttonSubmit {
    margin-top: 20px;
  }

  .cancellationPolicy {
    margin-top: 15px;
    padding: 10px 30px;
    border-top: 1px solid #ddd;

    &__details {
      text-align: right;
      cursor: pointer;

      a {
        color: $success;
      }
    }
  }
}

.selectGuest {
  margin-top: 20px;

  &__guest {
    font-size: 0.9rem;
    color: #000;
    font-weight: 500;
    font-family: "Montserrat", sans-serif !important;
  }

  &__input {
    > div {
      padding: 0px;
      margin: 0px;
      height: 45px;
      display: flex;
      align-items: center;
      padding-left: 30px;
    }
  }
}
