@import "colors.scss";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex: 0 1 auto;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Montserrat Alternates, "Quicksand", sans-serif !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: $secondaryText;
  background-color: $backgroundWhite;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

a {
  // display: block;
  // color: $secondaryText !important;
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }
}

