.listing-container {
  position: relative;
  background-color: #fafafa;
  .listing-header {
    position: fixed;

    width: 100%;
    margin-top: 0px;

    z-index: 2;
    padding: 0px;
    background: rgb(255, 255, 255);
    .listing-header-wrapper {
      height: 64px;

      .logo {
        height: 64px;
        line-height: 64px;
        position: relative;
        float: left;
        margin-left: 10px;
      }

      .box-title {
        height: 64px;
        line-height: 72px;
        position: relative;
        float: left;
        padding-left: 10px;
        .box-title-wrapper {
          .title {
            overflow-wrap: break-word;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.44444em;
            color: rgb(72, 72, 72);
            margin: 0px;
          }
        }
      }
    }
  }

  .progressBar {
    // position: fixed;
    z-index: 111;
    width: 100%;
    overflow: hidden;
  }

  .listing-content {
    padding-top: 64px;
    .listing-content-wrapper {
      background-color: #fff;
      width: 60%;
      padding: 30px 30px 120px;
    }
  }

  .bottom-navigation {
    position: fixed;
    z-index: 111;
    left: 0px;
    bottom: 0px;
    width: 100%;
    .container {
      background: #fff;
      margin: 0px auto;
      padding: 0 0px 16px 0px !important;
      display: flex;
      justify-content: flex-end;

      .wrapper {
        padding-top: 20px;
        border-top: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
      }
    }

    .prev-button {
      .prev-link {
        cursor: pointer;
        display: flex;
        align-items: flex-start;
        color: #fa991c;
        font-weight: 600;
      }

      .prev-title {
        margin-left: 10px;
        font-size: 1.1rem;
      }
    }
  }
}
