.select-reusable {
  margin: 32px 0;
  .title {
    padding-bottom: 8px;
    overflow-wrap: break-word;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.375em;
    color: rgb(118, 118, 118);
    margin: 0;
  }
  .select {
    &:focus {
      background-color: transparent;
    }
  }
  .icon {
    margin-right: 10px;
  }
  .two-third-width {
    width: 66.67%;
  }
}
